.Container {
    width: 100%;
}

.Container .banner {
    border: 1px solid red;
    width: 100%;
    height: 344px;
    z-index: 0;
}

@media (min-width: 400px) {
    .Container {
        background-position: center;
        background-size: auto;
    }
}

@media (max-width: 700px) {
    .Recomentation .TituloBotao {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.Recomentation {
    background-image: url('../../../public/assets/banner.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 344px;
    /* background-position: 100%; */
    /* height: 344px; */
    /* height: 344px; */
    background-color: #000;
    border: 1px solid #000;
}

@media (max-width: 600px) {
    .Recomentation {
        background-position: center;
        background-size: cover;
        width: 100%;
    }
}

.Recomentation h1 {
    color: white;
}

.Recomentation .top {
    display: flex;
    justify-content: space-between;
    margin: 32px;
}

@media (max-width: 600px) {
    .Recomentation .top {
        display: flex;
        /* flex-direction: column; */
    }

    .Recomentation .top .search {
        display: flex;
        flex-direction: row;
    }

    .Recomentation .top .search input {
        display: none;
    }

    .Recomentation .top .perfil img {
        width: 32px;
        height: 32px;
    }
}

.Recomentation .top .search {
    display: flex;
}

.Recomentation .top .search img:first-child {
    margin-right: 5px;
}

.Recomentation .top .search input {
    background: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;

}

.Recomentation .top .perfil {
    display: flex;
}

.Recomentation .top .perfil img {
    margin: 0 10px;
}

.Recomentation .top .perfil img+img+img {
    border-radius: 50%;
}

.Recomentation .TituloBotao {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 200px;
    margin: 32px;
}

.Recomentation .TituloBotao .title h1 {
    font-size: 32px;
    line-height: 38px;
    max-width: 400px;
    font-family: Roboto;
}

.Recomentation .TituloBotao .title span {
    color: #96DCFA;
}

.Recomentation .TituloBotao .title p {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    max-width: 400px;
    font-family: Roboto;
}

.Recomentation .TituloBotao .button button {
    background: #197ACF;
    border-radius: 4px;
    color: #fff;
    padding: 10px 32px;
    text-transform: uppercase;
    font-family: Roboto;
    transition: 0.2s;
}

.Recomentation .TituloBotao .button button:hover {
    background: #0e61aa;
}